:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
    background-color: #EAEBED;
    transition: all 0.3s ease-in;
    text-decoration: none;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }